<ng-container *ngFor="let notizia of notizie">
<section class="artist-section">
    <div *ngIf="notizia.dataNotizia === dataCalendario">
    <img [src]="notizia.foto" alt="Taylor Swift performance" class="artist-image">
    <div class="artist-info">
      <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/f05986b722b81eef9085863705a800c55d3780f1698e614799d71d6371761db8?apiKey=8c90e310f33f44eeb686373906c223d9&" alt="Billboard Music Awards" class="awards-logo"> <!--Linea verde-->
      <p class="artist-description">
        {{notizia.descrizione}}
      </p>
      <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/f05986b722b81eef9085863705a800c55d3780f1698e614799d71d6371761db8?apiKey=8c90e310f33f44eeb686373906c223d9&" alt="Billboard Music Awards" class="awards-logo"> <!--Linea verde-->
     </div>
    </div>
  </section>
</ng-container>

<!-- Struttura del componente NotiziaComponent -->
<!-- <ng-container *ngFor="let notizia of notizie">
    <div *ngIf="notizia.dataNotizia === dataCalendario">
      <img [src]="notizia.foto">
      <p>{{notizia.descrizione}}</p>
    </div>
  </ng-container> -->