/* servono per l'esempio di ngStyle */
/* .cerchioVerde, .cerchioRosso {
  width: 10px;
  height: 10px;
}
.cerchioRosso {
  background-color: red;
}
.cerchioVerde {
  background-color: green;
} */

.cerchio{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: blue;
    margin-right: 10px;
    text-align: center;
}

/* servono per l'esempio di ng Class */
.cerchioOnline{
    background-color: green;
    color: yellow;
}
.cerchioOffline{
    background-color: red;
    color: orange;
}

/* li{
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}
li > p{
    margin-bottom: 0px;
} */