

<!-- <app-calendario></app-calendario> -->



<div class="spotify-daily">
  <header class="header">
    <a href="https://www.spotify.com" target="_blank">
      <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/feee1f6a14a153436882c4c2b6b1a12c47447549d2bfe0e435520a6e5ffb0abe?apiKey=8c90e310f33f44eeb686373906c223d9&" alt="Spotify" class="logo">
    </a>
    <div class="date"><app-calendario></app-calendario></div>
    
  </header>
  <main class="main-content">

    <app-notizia></app-notizia>
    

  <br><br>
  <br><br>
  <br><br>
  <br><br>
  <br><br>
    <section class="top-3">
      <h3 class="section-title">Top 3 Artisti Mensili Italia</h3>
      <div class="artists-grid">
        <div class="artist-card">
          <a href="https://open.spotify.com/intl-it/artist/6PsQc21YZU7WNfiODG69Qk" target = "_blank">
          <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/ddb8fd2f948b6b947ef4e73526c6450cf93530f940a2d451b73b62066ea2cf9f?apiKey=8c90e310f33f44eeb686373906c223d9&" alt="Tony Boy" class="artist-thumbnail">
          <h3 class="artist-card-title">Tony boy 1°</h3>
          </a>
        </div>
        <div class="artist-card">
          <a href="https://open.spotify.com/intl-it/artist/6RdcIWVKYYzNzjQRd3oyHS" target = "_blank">
          <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/19f8d4885498c43c91840062b410a0d31c931bb54c044c9fe534dbe4c547f9fa?apiKey=8c90e310f33f44eeb686373906c223d9&" alt="Pinguini Tattici Nucleari" class="artist-thumbnail">
          </a>
          <h3 class="artist-card-title">
            Pinguini Tattici<br>Nucleari°
          </h3>
        </div>
        <div class="artist-card">
          <a href="https://open.spotify.com/intl-it/artist/0jdNdfi4vAuVi7a6cPDFBM" target = "_blank">
          <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/22f678604e950837f19749428026867d4aa97f2c2efc445427de033f66c82e04?apiKey=8c90e310f33f44eeb686373906c223d9&" alt="Lazza" class="artist-thumbnail">
        </a>
        </div>
      </div>
    </section>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <section class="link-socials">
      <h3 class="section-title">Seguici anche sui Social</h3>

      <div class="social-links">
        <a href="https://www.instagram.com/spotify/" aria-label="Instagram">
          <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/51ecefa70335b712fd939a8bcc121958b880c573b6a5e308c96997a8e5dda9ef?apiKey=8c90e310f33f44eeb686373906c223d9&" alt="" class="social-icon">
        </a>
        <a href="https://www.facebook.com/Spotify/?locale=it_IT" aria-label="Facebook">
          <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/22350cb320fb252f4304654f7c1d3e9cb70199242900aa821bf2c89e37e11f8e?apiKey=8c90e310f33f44eeb686373906c223d9&" alt="" class="social-icon">
        </a>
        <a href="https://www.spotify.com" aria-label="Phone">
          <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/4036cf981247803e8a6972dde9d3cbf1a0e7bd449186ee7f25f926a734264e8e?apiKey=8c90e310f33f44eeb686373906c223d9&" alt="" class="social-icon">
        </a>
        <a href="https://x.com/spotify?mx=2" aria-label="Twitter">
          <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/dda824df5aa9d046a2ce85237440d1222208b98b96bb0f6b1dc8447fc617e6a3?apiKey=8c90e310f33f44eeb686373906c223d9&" alt="" class="social-icon">
        </a>
      </div>
    </section>
  </main>
</div>